body{
    margin: 0;
    background: #eeeeee;
}

a { color: inherit;}

.overview{
    background: #004a2f;
    height: 250px;
    padding:30px;
    color: #ffffff;
}

.boxes{
    background: #eeeeee;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 80px;
    margin-top: -30px;

    box-shadow: 0px 7px 5px 0px rgba(46, 50, 50, 0.28);
    border-radius: 4px;
}

.boxes img{
    border-radius: 4px;
    padding: 5px;
    width: 40px;
}

.box{
    background: #ffa323;
    
    width: 30%;
    height: 60px;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Borda arredondada */
    border-radius: 5px;
}


.historico{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
   
}

.historico table{
    background: #ffffff;
}

.historico canvas{
    background: #ffffff;
}

.historico img{
    border-radius: 4px;
    padding: 5px;
    width: 40px;
}


.carteira{
    background: #e5e5e5;

    float: left;
    width: 100%;
    padding: 10px;
    height: 70px;

    margin-bottom: 5px;
    
    /*Para ajustar os espaçamentos dos blocos:*/
    box-sizing: border-box;

    /* Borda arredondada */
    border-radius: 10px;
}

.footer-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    color: #002f35;
    text-align: center;

    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-footer{
    float: left;
    width: 30%;
    margin-left: 1%;
    padding: 10px;
    height: 60px;

    /*Para ajustar os espaçamentos dos blocos:*/
    box-sizing: border-box;

}

.footer img{
    border-radius: 4px;
    padding: 5px;
    width: 40px;
}

/* este estilo aplica-se a partir de 900px em diante */
@media ( min-width: 900px ) {
    #mobile { display: none; }  /* show it on small screens */
  }